.table-events-component {
  .ant-table-wrapper {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.03);
  }

  .more {
    display: flex;
    align-items: center;
    color: gray;
    margin-top: 20px;

    button {
      margin-right: 20px;
      border-radius: 6px;
      height: 37px;
      min-width: 125px;

      & > .ant-spin {
        color: white;

        span {
          margin-top: 3px;
        }
      }
    }

    & > span {
      margin: 0 10px;
    }
  }

  padding: 1rem;
  .table {
    display: block;
    max-width: 100%;

    border-spacing: 0;
    border: 1px solid black;
    .tr {
      :last-child {
        .td {
          border-bottom: 0;
        }
      }
    }
    .th,
    .td {
      margin: 0;
      padding: 0.5rem;
      border-bottom: 1px solid black;
      border-right: 1px solid black;
      position: relative;
      :last-child {
        border-right: 0;
      }
      .resizer {
        display: inline-block;
        background: blue;
        width: 10px;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        transform: translateX(50%);
        z-index: 1;
        touch-action: none;
        &.isResizing {
          background: red;
        }
      }
    }
  }
}
