.context-menu-component {
  .rc-menu-container {
    ul {
      border-radius: 4px;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.13);

      .rc-menu__item {
        padding: 8px 15px;

        &.rc-menu__item--hover {
          color: black;
          background-color: #ecf4f9;
        }

        &.rc-menu__item--focusable {
          background-color: transparent;
        }
      }

      .rc-menu__header {
        padding: 5px 15px;
      }
    }
  }
}
