.table-page-component {
  margin-bottom: 40px;

  h1 {
    margin-top: 15px;
    font-size: 20px;
  }

  .loader {
    margin: 100px 0;
    text-align: center;

    span {
      font-size: 45px;
    }
  }

  .controls {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 15px;

    p,
    .count-found {
      margin-bottom: 0;
      color: gray;
      display: inline-block;
    }

    .count-found {
      .ant-spin {
        margin-right: 10px;
      }
    }

    .buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;

      & > div {
        margin-left: 20px;
      }

      .show-count {
        .ant-select-selector {
          width: 50px;
        }
      }

      .ant-select-selector {
        margin-left: 10px;
        width: 120px;
        color: inherit;
        border-radius: 6px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.03);
        border: none;
      }

      & > button {
        border: none;
        margin-left: 10px;
        border-radius: 6px;
        padding: 0 10px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.03);

        &[disabled] {
          opacity: 0.7;
          background-color: white;

          img {
            opacity: 0.5;
          }
        }

        img {
          width: 16px;
          height: 16px;
          opacity: 0.7;
          transition: all 0.2s ease-in;

          &:hover {
            opacity: 1;
          }

          &.close {
            width: 15px;
            height: 15px;
          }
        }
      }
    }
  }
}
