.table-page-component {
  margin-top: 20px;
  margin-bottom: 40px;

  .loader {
    margin: 100px 0;
    text-align: center;

    .rs-loader {
      height: inherit;

      span {
        &::before {
          border-color: transparent;
        }

        &::after {
          border-width: 3px;
          border-color: #0078f5cc transparent transparent;
        }
      }
    }
  }

  .controls {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 15px;

    p,
    .count-found {
      margin-bottom: 0;
      color: gray;
      display: inline-block;

      span {
        margin-right: 10px;
      }
    }

    .count-found {
      .rs-loader-wrapper {
        vertical-align: sub;

        .rs-loader-spin::before {
          border-color: transparent;
        }

        .rs-loader-spin::after {
          border-width: 2px;
          border-color: #0078f5cc transparent transparent;
        }
      }
    }

    .buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;

      & > div {
        margin-left: 20px;

        & + button {
          margin-left: 40px;
        }
      }

      .show-count {
        .rs-picker-select {
          width: 50px;

          .rs-picker-toggle-caret {
            display: none;
          }

          .rs-picker-toggle.rs-btn {
            padding-right: 14px;
          }

          .rs-picker-toggle-value {
            text-align: center;
          }
        }
      }

      .rs-picker-select {
        margin-left: 10px;
        width: 120px;
        color: inherit;
        border-radius: 6px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.03);
        border: none;

        .rs-picker-toggle {
          border: none;
        }
      }

      & > button {
        border: none;
        margin-left: 10px;
        border-radius: 6px;
        padding: 6px 10px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.03);
        background-color: white;

        &.rs-btn-disabled {
          opacity: 0.7;

          img {
            opacity: 0.5;
          }
        }

        img {
          width: 16px;
          height: 16px;
          opacity: 0.7;
          transition: all 0.2s ease-in;

          &:hover {
            opacity: 1;
          }

          &.close {
            width: 15px;
            height: 15px;
          }
        }
      }
    }
  }
}
