body {
  overflow-y: scroll;
  padding-right: 0 !important;
  background-color: #ecf4f9;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.ant-dropdown-menu {
  border-radius: 6px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
